.footer {
    padding: 3rem 6rem;
    background: var(--color-dark);
    color: #FFF;
    display: grid;
    grid-template-rows: 65% 25%;
    gap: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 30% 5% 50%;
    align-items: center;
}

.logo {
    height: 7rem;
    width: 18rem;
}

.footer-line {
    height: 7rem;
    width: 2px;
    background: var(--color-light);
}

.footer-content-label {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-content-label > div > p {
    padding: 0.5rem;
}

.footer-policies  > span {
   margin-right: 4rem;
}