@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #D2D2FF;
  --color-yellow: #FF8B00;
  --color-dark: #202042;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: var(--color-dark);
}
